openapi: 3.0.3
info:
  title: US Army Public Articles Events API
  description: The US Army Public API provides public access to Army news articles, events, personnel information, and other publicly available Army information. The API is documented with Swagger UI at api.army.mil.
  version: 2.0.0
  contact:
    name: US Army Web Support Team
    url: https://api.army.mil/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://api.army.mil/api/v1
  description: US Army Public API production server
tags:
- name: Events
paths:
  /events:
    get:
      operationId: getEvents
      summary: Get Events
      description: Retrieve publicly available US Army events and activities.
      tags:
      - Events
      parameters:
      - name: limit
        in: query
        required: false
        description: Maximum number of events to return
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        required: false
        description: Pagination offset
        schema:
          type: integer
          default: 0
      - name: from
        in: query
        required: false
        description: Start date filter
        schema:
          type: string
          format: date
      - name: to
        in: query
        required: false
        description: End date filter
        schema:
          type: string
          format: date
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
components:
  schemas:
    Event:
      type: object
      description: A US Army public event or activity
      properties:
        id:
          type: string
          description: Unique event identifier
        title:
          type: string
          description: Event name or title
        description:
          type: string
          description: Event description
        startDate:
          type: string
          format: date-time
          description: Event start date and time
        endDate:
          type: string
          format: date-time
          description: Event end date and time
        location:
          type: string
          description: Event location or venue
        url:
          type: string
          format: uri
          description: URL for more event information
        category:
          type: string
          description: Event category or type
      required:
      - id
      - title
      - startDate
    EventList:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
